<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reconocimiento Facial</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="face-api.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/faceDetectionControls.js"></script>
</head>
<body>
<div id="navbar"></div>
<div class="center-content page-container">

  <p>Referencia de la Imagen:</p>

  <div class="progress" id="loader">
    <div class="indeterminate"></div>
  </div>
  <div style="position: relative" class="margin">
    <img id="refImg" src="" style="max-width: 800px;" />
    <canvas id="refImgOverlay" class="overlay"></canvas>
  </div>

  <div class="row side-by-side">
    <div class="row">
      <label for="refImgIdentificacionInput">Ingresa la Identificación:</label>
      <input id="refImgIdentificacionInput" type="text" class="bold">
    </div>
    <button class="waves-effect waves-light btn" onclick="loadRefImageFromDB()">Buscar Foto</button>
  </div>

  <p>Imagen a Consultar:</p>

  <div style="position: relative" class="margin">
    <img id="queryImg" src="" style="max-width: 800px;" />
    <canvas id="queryImgOverlay" class="overlay"></canvas>
  </div>

  <div class="row side-by-side">
    <div class="row">
      <label>Tomar una Foto:</label>
      <div style="display: flex; align-items: center;">
        <video id="video" width="400" height="300" autoplay style="margin-right: 20px;"></video>
        <div>
          <button class="waves-effect waves-light btn" onclick="startCamera()">Iniciar Cámara</button>
          <button class="waves-effect waves-light btn" onclick="takePhoto()">Tomar Foto</button>
        </div>
      </div>
    </div>
    <canvas id="photo" width="800" height="600" style="display:none;"></canvas>
  </div>

  <div class="center-content">
    <div id="resultado"></div>
    <div id="face_detector_selection_control" class="row input-field">
      <select id="selectFaceDetector">
        <option value="ssd_mobilenetv1">SSD Mobilenet V1</option>
        <option value="tiny_face_detector">Tiny Face Detector</option>
      </select>
      <label>Seleccionar Detector Facial</label>
    </div>

    <span id="ssd_mobilenetv1_controls">
        <div class="row side-by-side">
          <div class="row">
            <label for="minConfidence">Confianza Mínima:</label>
            <input disabled value="0.5" id="minConfidence" type="text" class="bold">
          </div>
          <button class="waves-effect waves-light btn" onclick="onDecreaseMinConfidence()"><i class="material-icons left">-</i></button>
          <button class="waves-effect waves-light btn" onclick="onIncreaseMinConfidence()"><i class="material-icons left">+</i></button>
        </div>
      </span>

    <span id="tiny_face_detector_controls">
        <div class="row side-by-side">
          <div class="row input-field" style="margin-right: 20px;">
            <select id="inputSize">
              <option value="" disabled selected>Tamaño de Entrada:</option>
              <option value="160">160 x 160</option>
              <option value="224">224 x 224</option>
              <option value="320">320 x 320</option>
              <option value="416">416 x 416</option>
              <option value="512">512 x 512</option>
              <option value="608">608 x 608</option>
            </select>
            <label>Tamaño de Entrada</label>
          </div>
          <div class="row">
            <label for="scoreThreshold">Umbral de Puntaje:</label>
            <input disabled value="0.5" id="scoreThreshold" type="text" class="bold">
          </div>
          <button class="waves-effect waves-light btn" onclick="onDecreaseScoreThreshold()"><i class="material-icons left">-</i></button>
          <button class="waves-effect waves-light btn" onclick="onIncreaseScoreThreshold()"><i class="material-icons left">+</i></button>
        </div>
      </span>
  </div>
</div>

<script>
  let faceMatcher = null;
  let videoStream = null;

  async function loadRefImageFromDB() {
    const identificacion = $('#refImgIdentificacionInput').val();

    try {
      const response = await fetch(`/foto/${identificacion}`);
      if (response.ok) {
        const data = await response.json();
        const originalImageUrl = data.fotoUrl;

        // Usa el proxy para cargar la imagen evitando problemas de CORS
        const fotoUrl = `/proxy-image?url=${encodeURIComponent(originalImageUrl)}`;

        $('#refImg').get(0).src = fotoUrl; // Carga la imagen a través del proxy
        updateReferenceImageResults();
      } else {
        console.error('Error: Persona no encontrada o problema en el servidor');
      }
    } catch (error) {
      console.error('Error al cargar la imagen desde la base de datos:', error);
    }
  }

  async function updateReferenceImageResults() {
    const inputImgEl = $('#refImg').get(0);
    const canvas = $('#refImgOverlay').get(0);

    const fullFaceDescriptions = await faceapi
            .detectAllFaces(inputImgEl, getFaceDetectorOptions())
            .withFaceLandmarks()
            .withFaceDescriptors();

    if (!fullFaceDescriptions.length) {
      return;
    }

    faceMatcher = new faceapi.FaceMatcher(fullFaceDescriptions);

    faceapi.matchDimensions(canvas, inputImgEl);
    const resizedResults = faceapi.resizeResults(fullFaceDescriptions, inputImgEl);

    resizedResults.forEach(({ detection, descriptor }) => {
      const label = faceMatcher.findBestMatch(descriptor).toString();
      const options = { label };
      const drawBox = new faceapi.draw.DrawBox(detection.box, options);
      drawBox.draw(canvas);
    });
  }

  async function startCamera() {
    videoStream = await navigator.mediaDevices.getUserMedia({ video: true });
    const video = document.getElementById('video');
    video.srcObject = videoStream;
  }

  function stopCamera() {
    if (videoStream) {
      videoStream.getTracks().forEach(track => track.stop());
    }
    const video = document.getElementById('video');
    video.srcObject = null;
  }

  async function takePhoto() {
    const video = document.getElementById('video');
    const canvas = document.getElementById('photo');
    const context = canvas.getContext('2d');
    context.drawImage(video, 0, 0, canvas.width, canvas.height);
    const imgData = canvas.toDataURL('image/png');
    const img = await faceapi.fetchImage(imgData);
    $('#queryImg').get(0).src = img.src;
    stopCamera();
    updateQueryImageResults();
  }

  async function updateQueryImageResults() {
    if (!faceMatcher) {
      alert("No se ha cargado ninguna imagen de referencia para comparar.");
      return;
    }

    const inputImgEl = $('#queryImg').get(0);
    console.log(inputImgEl)
    const canvas = $('#queryImgOverlay').get(0);
    fetch('http://localhost:3000/api/rec-facial/recognize', {method:'POST', body: JSON.stringify({image: inputImgEl.src, canvas: canvas.toDataURL()}), headers: {
      'Content-Type': 'application/json'
    }})
    const results = await faceapi
            .detectAllFaces(inputImgEl, getFaceDetectorOptions())
            .withFaceLandmarks()
            .withFaceDescriptors();

    if (!results.length) {
      alert("No se detectaron rostros en la imagen capturada.");
      return;
    }

    faceapi.matchDimensions(canvas, inputImgEl);
    const resizedResults = faceapi.resizeResults(results, inputImgEl);

    let isMatch = false;

    resizedResults.forEach(({ detection, descriptor }) => {
      console.log(descriptor)
      const bestMatch = faceMatcher.findBestMatch(descriptor);
      const label = bestMatch.toString();

      const options = { label };
      const drawBox = new faceapi.draw.DrawBox(detection.box, options);
      drawBox.draw(canvas);

      // Verificamos si el rostro coincide con la imagen de referencia
      if (bestMatch.label !== 'unknown' && bestMatch.distance < 0.6) {
        isMatch = true;
      }
    });

    // Mostrar una alerta según el resultado
    if (isMatch) {
      $('#resultado').text("¡Las imágenes coinciden! La persona es la misma.");
    } else {
      $('#resultado').text("Las imágenes no coinciden. Las personas no son las mismas.");
    }
  }


  async function run() {
    await changeFaceDetector(selectedFaceDetector);
    await faceapi.loadFaceLandmarkModel('/');
    await faceapi.loadFaceRecognitionModel('/');
  }

  $(document).ready(function() {
    renderNavBar('#navbar', 'face_recognition');
    initFaceDetectionControls();
    run();
  });
</script>
</body>
</html>